{{ define "main" }}
  <div class="pa3 pa4-ns w-100 w-70-ns center">
    <div class="lecturer-posts">
      <div class="lecturer-post left">
        <a href="/Cos20/posts/takashi">
          <img src="/Cos20/linzbichler-takashi--small_V2.png" alt="takashi" title="takashi">
        </a>
      </div>
      <div class="lecturer-post right">
        <a href="/Cos20/posts/heinz">
          <img src="/Cos20/wittenbrink-heinz--small_V2.png" alt="heinz" title="heinz">
        </a>
      </div>
    </div>
  </div>
{{ end }}
